.active {
  background-color: aqua;
}

.page_item {
  padding: 4px;
  border: 1px solid gray;
  cursor: pointer;
}

.paginator_container {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.page_items_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: stretch;
  justify-content: center;
  margin-top: 8px;
}

.item_card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 200px;
  border: 1px solid gray;
  padding: 4px;
}
