.todo_list_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  margin: auto;
}

.remove_todo_btn {
  cursor: pointer;
}

.todo_box {
  display: flex;
  gap: 4px;
}

.todo_input_box {
  width: 100%;
}

.todo_input_box_container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.todo_name {
  text-decoration: line-through;
}

.todo_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
