.search_box_container {
  position: relative;
  width: 80%;
  margin: auto;
}

.search_input {
  width: 100%;
  padding: 4px;
  border-radius: 8px;
}

.search_result_container {
  padding: 8px;
  display: flex;
  gap: 4px;
  align-items: center;

  .recipe_image {
    width: 5%;
    img {
      width: 100%;
    }
  }
}

.search_result_details {
  display: flex;
  gap: 2px;
  flex-direction: column;
  width: 100%;

  .cuisine_text {
    font-style: italic;
  }

  .dish_name {
    font-weight: bold;
  }
}

.search_result_outer_container {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 4px;
  height: 250px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 10;
}
